.headerStyle{
    margin: 0;
    background-color: white;
    height: 90px;
    width: 100%;
    color: black;
}
.logo{
    float: left;
    text-decoration: none;
    font-size: 35px;
    height: 75px;
    width: 75px;
    margin-top: 11px;
}
.logo:hover {
    background-color: lightgrey;
}
.logo p{
    margin-top: 15px;
    margin-left: 10px;
}
.logoLetters{
    color: black;
    text-decoration: none;
}
.text-box{
    margin-top: 30px;
    margin-left: 10%;
}
.logoLetters:hover{
    color: #FF6961;
}
.groupOfLinks{
    float: right;
    background-color: white;
    margin-top: 35px;
    margin-right: 100px;
    
}
.navStyle{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    background-color: white;
    display: inline;
}
.hamNavStyle{
    
}
.eachLinkHeader{
    display: inline;
    padding: 30px;
    color: black;
    text-decoration:none;
    font-size: 20px;
    font-weight: 475;
}
.eachLinkHeaderHam{
    display: block;
    padding: 10px;
    color: black;
    text-decoration:none;
    font-size: 20px;
    font-weight: 475;
}
.hamburgerContainer{
    float: right;
    background-color: white ;
    margin-top: 35px;
    margin-right: 10%;
}

.iconStyle{
    padding-right: 5px;
}

.hamStyle{
    font-size: 30px;
}
.hamStyle:hover{
    font-size: 35px;
}
#op{
    display: none;
}
@media only screen and (min-width: 1000px) {
    .groupOfLinks{
        display: visible;
    }
    .hamburgerContainer{
        display: none;
    }
    .headerStyle{
        height: 90px;
    }
    
}
@media only screen and (max-width: 1000px) {
    .groupOfLinks{
        display: none;
    }
    .hamburgerContainer{
        display: visible;
    }
    .headerStyle{
        height: 90px;
    }
}
/*
@media only screen and (max-width: 1000px) {
    .headerStyle{
        background-color: white;
    }
    .text-box{
        margin-left: 17px;
    }
    .groupOfLinks{
      margin-right: 10px;
    }
    .navStyle{
        width: 10%;
    }
    .eachLinkHeader{
        padding: 10px;
    }
}
@media only screen and (max-width: 850px) {
    .text-box{
        margin-left: 17px;
    }
    .groupOfLinks{
      margin-right: 10px;
    }
    .navStyle{
        width: 10%;
    }
    .eachLinkHeader{
        padding: 10px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .headerStyle{
        background-color: white;
    }
    .text-box{
        margin-left: 2px;
    }
    .groupOfLinks{
      margin-right: 2px;
    }
    .navStyle{
        width: 4%;
    }
    .eachLinkHeader{
        padding: 4px;
    }
  }

*/